*{
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root{
    --verdeTextos:#778F43;
    --verdeBackground: #344C27;
    --cinzaTextos: #808080;
    --preto: #000;
    --branco: #FFF;
    --fonteInter: "Inter", Arial, sans-serif;
}

a{
    text-decoration: none;
    color: inherit;
}