@media screen and (max-width: 650px) {
.cabecalho-parte-3{
    background-color: var(--verdeBackground);
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.icone-header{
    width: 50px;
    height: 50px;
    display: flex;
    font-size: 1.3rem;
    align-items: center;
    justify-content: center;
    color: var(--verdeTextos);
    margin: 0 20px 0 20px;
}

.perfil{
    border-radius: 28px;
    color: var(--verdeTextos);
    background-color: var(--branco);
}

main{
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 0px 0px 0px;
}

.conteudo-guia-descarte{
    width: 95%;
    height: 700px;
}

#div-centralizadora{
    height: 650px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

#div-centralizadora h1{
    font-size: 2rem;
    font-weight: bold;
    color: var(--verdeBackground);
    font-family: var(--fonteInter), Arial, Helvetica, sans-serif;
}

.topico-guia{
    width: 90%;
    line-height: 125%;
    height: fit-content;
    padding: 10px 0px 10px;
    border: 3px solid var(--verdeTextos);
    border-radius: 10px;
}

.topico-guia h3{
    margin: 0px 0px 0px 10px;
    font-weight: bold;
    font-family: var(--fonteInter), Arial, Helvetica, sans-serif;
}

.topico-guia p{
    width: 88%;
    font-size: 13px;
    font-weight: bolder;
    font-family: var(--fonteInter), Arial, Helvetica, sans-serif;
    color: var(--verdeBackground);
    margin: 5px 0px 0px 10px;
}

}