body{
    display: none;
}

@media screen and (max-width: 650px ) {
    body{
        display: flex;
        font-family: var(--fonteInter);
    }

    #bg-cinza{
       /*  */
    }

    main{
        width: 100%;
        height: 600px;
        flex-direction: column;
    }

    #titulo-inicial{
        display: flex;
        align-items: center;
        justify-content: center;
        /* height: 200px; */
        height: fit-content;
    }

    #titulo-inicial h3{
        color: var(--verdeTextos);
        margin: 0 0 0 4px;

    }

    #titulo-subtitulo{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 230px;
    }

    #titulo-subtitulo h1{
        color: var(--verdeTextos);
        margin: 20px 0 10px 0;
        font-size: 2.5rem;
    }

    #titulo-subtitulo p{
        color: var(--verdeTextos);
        text-align: center;
        font-weight: 500;
        font-size: 1rem;
    }

    #formas-login{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 190px;
    }

    #botao-redes{
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .rede{
        border: 1px solid var(--verdeTextos);
        width: 150px;
        margin: 5px 0 5px 0;
    }

    #login-fazerLogin{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    #login-fazerLogin p{
        margin: 5px 0 5px 0;
        cursor: pointer;
    }

    footer{
        height: 75px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--verdeBackground);
    }

    footer p{
        color: var(--branco);
        font-size: 15px;
    }


}